*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Baloo Bhaijaan 2';
	scroll-behavior: smooth;
}

/* body {
	font-size: 16px;
} */

/* width */
::-webkit-scrollbar {
	width: 18px;
	border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(75, 75, 75); 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: linear-gradient(0deg, rgb(33, 114, 255), rgb(227, 86, 255)); 
	border-radius: 10px;
	transition: 0.5s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(0deg, rgb(33, 114, 255), rgb(215, 14, 255)); 
  }


.btns {
	height: 100vh;
	display: flex;
	align-items:center;
	/* flex-wrap: wrap; */
	flex-direction: row ;
	justify-content:space-evenly;
background-image: url(../assets/rose-petals.svg);

background-size: cover;
	/* border: 0px solid; */
}
.btn{
	height: 80px;
	width: 170px;
	font-size: 1.3rem; 
	font-weight: 400;
	/* padding: 10px 10px; */
	border-radius:8px ;
	color: black;
	/* background-color: rgb(60, 138, 255); */
	border: 2px solid;
	display: flex;
	align-items:center;
	justify-content:center;
	/* background: linear-gradient(90deg, rgb(53, 0, 0), rgb(255, 132, 132)); */
	transition: 0.3s;
	/* position: absolute; 
	bottom: 20px; */
	cursor: pointer;
}

.watchBtn{
	background-color:rgb(255, 255, 255, 0);
	color: white;
	transition: 0.2s;
}

.watchBtn:hover{
	text-shadow: 0px 0px 4px white;
	font-weight: 400;
	background-color: rgba(255, 255, 255, 0.1)
}


.card1 button{
	/* background: linear-gradient(0deg, rgb(60, 138, 255), white); */
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid white;

}
.card2 button{
	/* background: linear-gradient(180deg,white,  rgb(60, 138, 255));	 */
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid white;
	
}

.btn:hover{
	background-color: rgba(255, 255, 255, 0.2);
	transform: scale(1.03);
	/* border-color: rgb(0, 0, 92); */
}

.btn:hover .icon{
	
	/* box-shadow: 0pc 0px 10px red; */
	font-size: 4rem;
	transform: translateX(-85%);
	color: rgb(255, 255, 255);
	/* left: 40%; */
}

.btn:hover span{
	transform: scale(0);
	/* display: none; */
}

.btn span{
	transition: 0.2s;
}


.watch{
	display: none;
	width: 100%;
	justify-content: center;

	align-items: center;
	
	height: 100vh;
}

.back{
	font-size: 2rem;
	position: absolute;
	top: 50px;
	left: 50px;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #ffffff;
	z-index: 2;
}
.urlInp {
	font-size: 1.3rem;
	width: 250px;
	height: 80px;
	margin: 15px;
	text-align: center;
}


.icon{
	font-size: 2.5rem;
	/* transform: translateY(-2px); */
	transition: 0.2s;
	margin-left: 4px ;
	margin-right: 8px;
	padding: 0px 4px;
}

.welcome{
	background-image:url(../assets/subtle-prism.svg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0px 20px;
	
}

.heading{
	font-size: 4rem;
	color: white;
	font-weight: 600;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}
#wlcm{
	letter-spacing: 10px;
	font-size: 4.5rem;
}

.xplor{
	font-size: 4rem;
	display: none;
	color: rgba(255, 255, 255, 0.8);
	position: absolute;
	bottom: 20px;
	left: 47%;
	
}

.cardheading{
	font-size: 3rem;
	color: black;
}

.wlcmtxt{
	font-size: 2rem;
	color: rgb(234, 0, 255);
	/* width: auto; */
	font-weight: 400;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}
.cardtxt{
	font-size: 1.3rem;
	color: black;
	width: auto;
	padding: 0px 20px;
	text-align: center;
}

.card1, .card2{
	
	width: 400px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content:space-around;
	flex-direction: column;
	
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.1);
	border-radius: 20px;
	margin: 20px;
	border: 1px solid white;
}

.card2{
	animation-delay: 0.5s;
}



@media only screen and (max-width: 450px) {
	.wlcmtxt{
		display: none;
	}
	
}

@media only screen and (max-width: 600px) {
	.wlcmtxt{
		font-size: 1.5rem;
	}
	#wlcm{
		letter-spacing: 8px;
		font-size: 2.5rem;
	}
	.heading{
		font-size: 2rem;
	}
	.cardheading{
		font-size: 2rem;
	}
	.cardtxt{
		font-size: 1.1rem;
	}
	.btn{
		font-size: 1.1rem;
		width: 130px;
		height: 60px;
	}
	.icon{
		font-size: 1.6rem;
		margin-right: 4px;
	}
	.card1, .card2{
		width: 300px;
		height: 300px;
	}
	#urlInp{
		width: 280px;
		height:60px;
	}
	.watch{
		flex-direction: column;
		
	}
	.btns{
		flex-direction: column;
		height: auto;
	}
	.btn:hover .icon{
	
		font-size: 2.5rem;
		transform: translateX(-95%);
		color: rgb(255, 255, 255);
	}
	.back{
		font-size: 1.4rem;
	}
	.back ion-icon{
		font-size: 2.2rem;
	}
}

@media only screen and (min-width: 600px){
	
	.card1, .card2{
		width: 300px;
		height: 300px;
	}
	
	.btns{
		flex-direction: column;
		height: auto;
	}
	.wlcmtxt{
		width: 80%;
		font-size: 2rem;
	}
	
	#wlcm{
		letter-spacing: 12px;
		font-size: 3.5rem;
	}
	.heading{
		font-size: 3rem;
	}
	.cardheading{
		font-size: 2.1rem;
	}
	.cardtxt{
		font-size: 1.3rem;
	}
	.btn{
		font-size: 1.1rem;
		width: 150px;
		height: 70px;
	}
	.btn:hover .icon{
	
		font-size: 3rem;
		transform: translateX(-85%);
		color: rgb(255, 255, 255);
	}
	.back{
		font-size: 1.7rem;
	}
	.back ion-icon{
		font-size: 2.7rem;
	}
	#urlInp{
		width: 300px;
		height:70px;
	}
}

@media only screen and (min-width: 768px) {
	
	.card1, .card2{
		width: 350px;
		height: 350px;
	}
	
	.btns{
		flex-direction: column;
		height: auto;
	}
	.wlcmtxt{
		width: 80%;
		font-size: 2rem;
	}
	
	#wlcm{
		letter-spacing: 12px;
		font-size: 4.5rem;
	}
	.heading{
		font-size: 3.5rem;
	}
	.cardheading{
		font-size: 2.5rem;
	}
	.cardtxt{
		font-size: 1.5rem;
	}
	.btn{
		font-size: 1.2rem;
	}
	
}



@media only screen and (min-width: 992px) {

.card1, .card2{
	width: 400px;
	height: 400px;
}
.btns{
	flex-direction: row;
	height: 100vh;
}
.wlcmtxt{
	font-size: 2.2rem;
}
#wlcm{
	letter-spacing: 12px;
	font-size: 4.7rem;
}
.heading{
	font-size: 3.7rem;
}
.cardheading{
	font-size: 2.8rem;
}
.cardtxt{
	font-size: 1.6rem;
}
.btn{
	font-size: 1.4rem;
	width: 170px;
	height: 80px;
}


.btns{
	flex-direction: row;
	height: 100vh;
}
.wlcmtxt{
	width: 100%;
}
.btn:hover .icon{
	
	font-size: 4rem;
	transform: translateX(-85%);
	color: rgb(255, 255, 255);
}
.back{
	font-size: 2rem;
}
.back ion-icon{
	font-size: 3.5rem;
}
#urlInp{
	width: 330px;
	height:80px;
}
} 


@media only screen and (min-width: 1200px) {
.card1, .card2{
	width: 450px;
	height: 450px;
}
.wlcmtxt{
	font-size: 2rem;
}
#wlcm{
	letter-spacing: 12px;
	font-size: 5rem;
}
.heading{
	font-size: 3rem;
}
.cardheading{
	font-size: 2.7rem;
}
.cardtxt{
	font-size: 1.6rem;
}
.btn{
	font-size: 1.3rem;
}


.btns{
	flex-direction: row;
	height: 100vh;
}
.wlcmtxt{
	width: 100%;
}
}

